.cart_page {
    background-color: var(--cl_bg);
    padding-top: 8rem;
    .sec_1_cart {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 1rem 0 3rem;
        .sec_1_cart_container {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 1rem;
            .b_left {
                width: 100%;
                .title {
                    font-size: var(--fz_title);
                    font-weight: 800;
                    color: var(--white);
                    padding: 0.5rem 0 2rem;
                }
                .list_item {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .list_title {
                        display: grid;
                        gap: 0.5rem;
                        align-items: center;
                        grid-template-columns: 1fr 13fr 3fr 4fr 3fr;
                        p {
                            color: var(--cl_second);
                            font-weight: 800;
                        }
                    }
                    .list_item_cart {
                        display: flex;
                        flex-direction: column;
                        height: 35rem;
                        overflow-y: scroll;
                        scrollbar-width: thin;
                        .item {
                            display: grid;
                            gap: 0.5rem;
                            padding: 1.5rem 0;
                            align-items: center;
                            border-top: 0.05rem solid var(--cl_second);
                            grid-template-columns: 1fr 13fr 3fr 4fr 3fr;
                            .product_info_cart {
                                width: 100%;
                                display: flex;
                                gap: 1rem;

                                .b_img {
                                    width: 20%;
                                    img {
                                        width: 100%;
                                    }
                                }
                                .product_info {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 0.5rem;
                                    .name {
                                        color: white;
                                        font-weight: 800;
                                        line-height: 1.3rem;
                                        height: 2.6rem;
                                        line-clamp: 2;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                    }
                                    .list_variant {
                                        display: flex;
                                        gap: 0.5rem;
                                        .property {
                                            background-color: var(--cl_second);
                                            padding: 0.2rem 1rem;
                                            font-size: var(--fz_smallmax);
                                            font-weight: 700;
                                            color: var(--white);
                                        }
                                    }
                                }
                            }
                            .quantity,
                            .price {
                                p {
                                    text-align: center;
                                    color: white;
                                    font-weight: 800;
                                }
                            }
                            .action {
                                display: flex;
                                justify-content: center;
                                i {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
            .b_right {
                background-color: white;
                display: flex;
                flex-direction: column;
                gap: 3rem;
                justify-content: space-between;
                .title_b {
                    color: var(--cl_bg);
                    font-weight: 800;
                    text-align: center;
                    font-size: var(--fz_max);
                    padding: 1rem 0;
                    color: orange;
                }

                form {
                    padding: 0 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1.3rem;
                    .title_form {
                        font-weight: 700;
                        padding-bottom: 0.5rem;
                        color: var(--cl_primary);
                    }
                    .form_group {
                        width: 100%;
                        position: relative;
                        input {
                            font-size: 1rem;
                            line-height: 1.4rem;
                            padding: 0.4rem 1rem;
                            border-radius: 0.3rem;
                            outline: none;
                            width: 100%;
                            border: 0.1rem solid var(--cl_bg);
                            &::placeholder {
                                font-size: var(--fz_smallmax);
                                color: var(--shadow-black);
                            }
                        }
                        label {
                            position: absolute;
                            width: fit-content;
                            height: fit-content;
                            top: 0;
                            left: 3%;
                            background-color: white;
                            padding: 0 0.3rem;
                            transform: translateY(-60%);
                            font-weight: 700;
                            font-size: var(--fz_small);
                        }
                    }
                }
                .caculator_checkout {
                    padding: 2rem 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .title_form {
                        font-weight: 900;
                        padding-bottom: 0.5rem;
                        color: var(--cl_primary);
                        text-align: center;
                        font-size: var(--fz_large);
                    }
                    .list_pay {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        .total_price,
                        .amount,
                        .total,
                        .delivery_fee {
                            display: flex;
                            justify-content: space-between;
                            p:first-child {
                                font-weight: 800;
                                color: var(--cl_second);
                            }
                        }
                        .total {
                            p:last-child {
                                font-weight: 800;
                            }
                        }
                        .box_btn_checkout {
                            display: flex;
                            justify-content: center;
                            padding: 1rem 0;
                            button {
                                width: 80%;
                                background-color: var(--cl_bg);
                                padding: 0.5rem;
                                font-weight: 800;
                                color: orange;
                            }
                            button:disabled {
                                background-color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
