.designer_item_CO {
    width: 100%;
    padding: 1rem;
    .b_item {
        .background_hie {
            position: absolute;
            width: 100%;
            height: 70%;
            background-color: var(--cl_bg);
            bottom: 0;
            left: 0;
            border-radius: 0.5rem;
        }
        width: 100%;
        border-radius: 0.5rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .b_img {
            z-index: 0;
            width: 60%;
            display: flex;
            background-color: var(--cl_bg);
            justify-content: center;
            border-radius: 50%;
            padding: 0.5rem;

            img {
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
        }
        .content_profile {
            width: 100%;
            padding-top: 2rem;
            height: fit-content;
            display: flex;
            transition: 0.3s ease-in-out;

            flex-direction: column;

            gap: 0.2rem;
            z-index: 2;
            justify-content: center;

            .name {
                text-align: center;
                // font-size: var(--fz_medium);
                font-weight: 800;
                color: white;
                text-transform: uppercase;
                text-align: center;
            }
            .experience {
                display: flex;
                justify-content: center;

                gap: 0.5rem;
                font-size: var(--fz_small);
                color: var(--shadow-white);
                span {
                    font-size: var(--fz_small);
                    color: var(--shadow-white);
                }
            }
            .expertise {
                display: flex;
                padding: 0 0.5rem;
                justify-content: center;
                gap: 0.5rem;
                font-size: var(--fz_small);
                color: var(--shadow-white);

                // line-clamp: 1;
                // // background-color: red;
                // overflow: hidden;
                // text-overflow: ellipsis;

                // -webkit-line-clamp: 1;
                // -webkit-box-orient: vertical;
                span {
                    font-size: var(--fz_small);
                    color: var(--shadow-white);
                }
            }
        }
        .b_btn {
            display: flex;
            justify-content: space-around;
            padding-top: 1rem;
            .link_tag {
                width: 50%;
            }
            button {
                width: 100%;
                font-size: var(--fz_small);
                line-height: 1rem;
                padding: 0.5rem 0;
            }
            .link_tag:first-child {
                button {
                    background-color: var(--white);
                    outline: none;
                    border: none;
                    color: var(--cl_bg);
                    font-weight: 700;
                }
            }
            .link_tag:last-child {
                button {
                    background-color: var(--cl_primary);
                    outline: none;
                    border: none;
                    color: white;
                    font-weight: 700;
                }
            }
        }
    }
}
