.forgot_password_page {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: right;
    align-items: center;
    padding: 2rem;
    background-image: url("../assets/images/main/forgot.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    .back_to_home {
        position: absolute;
        inset: 0;
        width: fit-content;
        height: fit-content;
        padding: 0.5rem;
        background-color: black;
        border-bottom-right-radius: 0.5rem;
        i {
            transform: rotate(180deg);
            color: white;
            font-size: 1.5rem;
        }
    }
    form {
        padding: 2rem 3rem;
        .title_1 {
            font-size: 4rem;
            color: var(--cl_bg);
            font-weight: 900;
            letter-spacing: 0.2rem;
            font-family: serif;
        }
        .title_2 {
            font-size: 4rem;
            color: var(--cl_bg);
            font-weight: 900;
            letter-spacing: 0.2rem;
            font-family: serif;
        }
        .form_group {
            padding-top: 4rem;
            display: flex;
            padding-bottom: 1rem;
            flex-direction: column;
            label {
                font-weight: 700;
                font-size: var(--fz_medium);
                color: var(--shadow-black);
            }
            input {
                font-size: 1.2rem;
                line-height: 1.6rem;
                padding: 0.5rem;
                box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-black);
                outline: none;
                border: none;
                background-color: rgba(128, 128, 128, 0.096);
                border-bottom: 0.1rem solid var(--gray);
                &::placeholder {
                    font-size: var(--fz_small);
                    font-weight: 700;
                    color: var(--shadow-black);
                }
            }
        }
        .form_btn {
            display: flex;
            width: 100%;
            padding: 1rem 0;
            input {
                width: 100%;
                padding: 0.7rem;
                border: none;
                background-color: var(--cl_bg);
                font-weight: 800;
                outline: none;
                color: white;
                border-radius: 0.4rem;
                transition: 0.3s ease-in;
                cursor: pointer;
                box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-black);
            }
            input:hover {
                transform: scale(1.02);
            }
            input:active {
                transform: scale(0.98);
            }
        }
    }
}
