.review_product_CO {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;

  .filter_container {
    display: flex;
    gap: 2rem;
    .total {
      display: flex;
      flex-direction: column;
      align-items: center;
      .total_star_product {
        font-size: var(--fz_large);
        font-weight: 700;
      }
      .total_review {
        font-size: var(--fz_smallmax);
      }
    }
    .list_button_filter {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      button {
        height: fit-content;
        padding: 0.5rem 2rem;
        border: none;
        outline: none;
      }
      .button_choice {
        background-color: orange;
        color: white;
      }
    }
  }
  .listReview {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--cl_bg);

    overflow-y: scroll;
    .item_review {
      width: 70%;
      background-color: var(--white);
      padding: 0.5rem 1rem;
      .b____1 {
        display: flex;
        justify-content: space-between;
        p:first-child {
          font-weight: 800;
        }
      }
      .date____ {
        font-weight: 600;
        font-size: var(--fz_smallmax);
      }
    }
    .notfound {
      color: white;
      text-align: center;
      padding: 3rem 0;
    }
  }
}
