.product_detail {
    width: 100%;
    background-color: var(--cl_bg);
    .sec1::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Màu đen với độ mờ 50% */
        z-index: -1; /* Để lớp phủ nằm dưới nội dung nhưng trên hình nền */
    }
    .sec1 {
        position: relative; /* Để lớp phủ nằm chính xác trên background */
        width: 100%;
        aspect-ratio: 16/4;
        background-image: url("../assets/images/main/backgroundhome.jpg");
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        z-index: 0;
        padding-bottom: 1rem;
        @keyframes slideIn {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes expandHeight {
            to {
                opacity: 1;
                height: 100%;
            }
        }
        .b_content {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: center;
            align-items: center;

            .title_1 {
                color: white;
                width: 50%;
                font-weight: 900;
                font-size: var(--fz_title);

                text-align: center;
                opacity: 0;
                transform: translateY(-5rem);
                animation: slideIn 2s forwards;
            }
            .title_2 {
                color: white;
                opacity: 0;
                height: 0;

                overflow: hidden;
                animation: expandHeight 3s forwards;
                transition:
                    height 3s ease,
                    opacity 1s ease;
            }
            .title_3 {
                color: white;
                padding-bottom: 2rem;
                opacity: 0;
                height: 0;
                overflow: hidden;
                animation: expandHeight 3s forwards;
                transition:
                    height 3s ease,
                    opacity 1s ease;
            }
            .link_tag {
                .b_btn {
                    display: flex;
                    background-color: white;
                    border-radius: 0.5rem;
                    gap: 0.5rem;
                    align-items: center;
                    padding: 0.3rem 3rem;
                    box-shadow: 0 0 0.2rem var (--shadow-white);
                    p,
                    i {
                        color: var(--cl_bg);
                    }
                }
            }
        }
    }
    .sec_brums {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 2rem 0 1rem;
        .b_brums {
            width: 100%;

            .b_link {
                display: flex;
                gap: 1rem;

                p {
                    font-weight: 700;
                    color: white;
                }
            }
        }
    }
    .sec2 {
        width: 100%;
        max-width: 1200px;
        margin: auto;

        .b_sec_detail {
            padding: 1rem 0;
            width: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4rem;
            .b_img_left {
                width: 100%;
                overflow: hidden;

                //background-color: red;

                padding: 0;
                .mySwiper2 {
                    width: 100%;

                    .b_image {
                        width: 100%;
                        aspect-ratio: 1/1;
                        img {
                            width: 100%;
                            aspect-ratio: 1/1;
                        }
                    }
                }
                .mySwiper {
                    width: 100%;

                    .b_image {
                        width: 100%;
                        aspect-ratio: 1/1;
                        img {
                            width: 100%;
                            aspect-ratio: 1/1;
                        }
                    }
                }
            }
            .b_info_right {
                width: 100%;
                .row_brand_bookmark {
                    display: flex;
                    justify-content: space-between;
                    .brand {
                        display: flex;
                        gap: 0.5rem;
                        align-items: center;
                        p:first-child {
                            font-size: var(--fz_smallmax);
                            font-weight: 700;
                            color: var(--cl_second);
                        }
                        p:last-child {
                            font-size: var(--fz_small);
                            font-weight: 900;
                            color: var(--cl_second);
                            color: orange;
                            text-transform: uppercase;
                        }
                    }
                    .b_bookmark {
                        padding-right: 1rem;
                        i {
                            color: orange;
                            font-size: 1.2rem;
                        }
                    }
                }

                .name_details {
                    padding: 0.3rem 0 0.5rem;
                    p {
                        color: white;
                        font-size: var(--fz_large);
                        font-weight: 700;
                        line-height: 2rem;
                        max-height: 4rem;

                        line-clamp: 2;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
                .b_price {
                    display: flex;
                    padding: 1.5rem 0 1rem;
                    align-items: start;
                    gap: 2rem;
                    .title {
                        width: 5rem;
                        font-weight: 800;
                        color: var(--cl_second);
                        text-transform: uppercase;
                    }
                    .b_price_container {
                        width: 100%;
                        background-color: rgb(57, 44, 22);
                        .note {
                            width: 100%;
                            background-color: orange;
                            padding: 0.2rem 0;
                            text-align: center;
                            font-weight: 800;
                            color: var(--cl_bg);
                            border-bottom-right-radius: 4rem;
                        }
                        div {
                            display: flex;
                            gap: 1rem;
                            width: 100%;
                            padding: 0.5rem 1rem 2rem;

                            align-items: center;
                            s {
                                color: var(--shadow-white);
                                font-weight: 700;
                            }
                            p {
                                color: white;
                                font-size: var(--fz_large);
                                font-weight: 800;
                            }
                        }
                    }
                }
                .b_star_cate {
                    display: flex;
                    justify-content: space-between;
                    .subcategories {
                        display: flex;
                        gap: 0.2rem;
                        color: var(--cl_second);
                        p {
                            font-weight: 800;
                            font-size: var(--fz_small);
                        }
                    }
                    .b_rate_prodetails {
                        display: flex;
                        align-items: center;
                        gap: 0.3rem;
                        p {
                            font-weight: 700;
                            color: orange;
                        }
                    }
                }

                .property {
                    display: flex;
                    padding: 1rem 0;
                    flex-direction: column;
                    gap: 2rem;

                    .variant {
                        display: flex;
                        gap: 1rem;
                        .title {
                            width: 7rem;
                            font-weight: 800;
                            color: var(--cl_second);
                            text-transform: uppercase;
                        }
                        div {
                            display: flex;
                            gap: 1rem;
                            align-items: center;
                            p {
                                padding: 0.3rem 1rem;
                                background-color: var(--white);

                                color: white;
                                color: var(--cl_bg);
                                font-weight: 800;
                                cursor: pointer;
                            }
                        }
                    }
                    .choice {
                        background-color: orange !important;
                        color: white !important;
                    }
                }
                .add_stock {
                    padding: 3rem 0 1rem 0;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    .title {
                        width: 7rem;
                        font-weight: 800;
                        color: var(--cl_second);
                        text-transform: uppercase;
                    }
                    .b_change_stock {
                        display: flex;
                        p {
                            width: 2.3rem;
                            height: 2.3rem;
                            background-color: var(--shadow-white);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: var(--fz_medium);
                            font-weight: 800;
                            color: var(--white);
                            cursor: pointer;
                        }
                        input {
                            width: 4rem;
                            font-size: 1rem;
                            line-height: 1.3;
                            padding: 0.5rem 0;
                            outline: none;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }
                .box_button {
                    display: flex;
                    padding: 2rem 0;
                    gap: 2rem;
                    .link_tag {
                        button {
                            padding: 0.8rem 3rem;
                            background-color: orange;
                            font-weight: 800;
                            color: white;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            transition: 0.3s ease-in;
                            box-shadow: 0.1rem 0.1rem 0.5rem var(--shadow-black);
                        }
                        button:first-child {
                            background-color: var(--cl_primary);
                        }
                        button:hover {
                            transform: scale(1.05);
                        }
                        button:active {
                            transform: scale(0.98);
                        }
                        .add_to_cart {
                            background-color: var(--cl_second) !important;
                        }
                        .buy_now {
                            background-color: orange !important;
                        }
                    }
                }
            }
        }
    }
    .sec3 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 2rem 0 1rem;
        .b_info_product {
            width: 100%;
            color: white;
            .info_product {
                border-radius: 1rem;

                width: 100%;

                margin: auto;
                overflow: hidden;

                .b_nav {
                    width: 100%;
                    background-color: var(--cl_second);
                    background-color: orange;
                    display: flex;
                    gap: 0.3rem;
                    padding: 0 2rem;

                    p {
                        padding: 1rem 2rem;
                        cursor: pointer;
                        font-weight: 600;
                        position: relative; /* Cần để sử dụng ::after */
                        border-bottom: none; /* Xóa border-bottom gốc */
                    }

                    p::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 0.15rem; /* Độ dày của border */
                        width: 0; /* Bắt đầu với width = 0 */
                        background-color: var(--white); /* Màu của border */
                        transition: width 0.3s ease-in-out; /* Hiệu ứng chuyển đổi width */
                    }
                    .nav_choice {
                        background-color: var(--cl_second);
                    }

                    .nav_choice::after {
                        width: 100%; /* Khi hover, width sẽ mở rộng đến 100% */
                    }
                }
                .b_page {
                    height: auto;
                    min-height: 60vh;

                    transition: height 1s ease;
                    padding: 1rem 2rem;
                }
            }
        }
    }
    .sec4 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 2rem 0 1rem;
        .b_sec4_suggest {
            border-top: 0.2rem solid orange;
            .title {
                padding: 0.5rem 4rem;
                background-color: orange;
                width: fit-content;
                font-weight: 800;
                border-bottom-right-radius: 4rem;
                font-size: var(--fz_medium);
            }
            .list_item {
                padding: 2rem;
                display: grid;
                gap: 2rem;
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}
